@using System;
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - duangduang网</title>
    @Styles.Render("~/Content/style")
    @Scripts.Render("~/bundles/mainjs")
    @Scripts.Render("~/bundles/mainjs2")
    <link href='http://fonts.googleapis.com/css?family=Istok+Web' rel='stylesheet' type='text/css' />

    <style type="text/css">
        .page_selector {
            position: absolute;
            right: 0px;
            top: 28%;
        }

            .page_selector a.page_open {
                display: inline-block;
                width: 60px;
                height: 12px;
                background: #252525;
                color: #fff;
                text-align: center;
                font-size: 14px;
                padding: 20px 0px;
                font-weight: bold;
                text-decoration: none;
                float: left;
            }

            .page_selector ul {
                float: left;
                background: #f0f0f0;
                padding: 10px 0px;
                border-top: solid 2px #000;
                border-bottom: solid 2px #000;
                display: none;
            }

                .page_selector ul li {
                    padding: 8px 10px;
                }

                    .page_selector ul li a {
                        font-weight: bold;
                        text-decoration: none;
                        color: #000;
                        display: block;
                        padding: 2px 5px;
                        text-transform: uppercase;
                        font-size: 11px;
                    }

        .store_selector {
            position: absolute;
            left: 0px;
            top: 28%;
        }

            .store_selector .store_open {
                display: inline-block;
                width: 128px;
                height: 55px;
            }

            .store_selector div {
                float: left;
                width: 157px;
                height: 226px;
                display: none;
            }
    </style>
    <script type="text/javascript" src="/jquery/jquery.js"></script>
        <script type="text/javascript">
            $(document).ready(function () {
                //SLIDE TOGGLE
                jQuery(".page_open").toggle(function () {
                    $('.page_selector ul').slideDown(300);
                }, function () {
                    $('.page_selector ul').slideUp(300);
                });
            //SLIDE TOGGLE
            jQuery(".store_open").toggle(function () {
                $('.store_selector div').slideDown(300);
            }, function () {
                $('.store_selector div').slideUp(300);
            });
        });
            function uptotal() {
                var sum = 0;
            var num = 0;
            $("#shopping-cart-table input[name=hiddenbook]").each(
                    function () {
                        var id = $(this).attr("id");
            var i = id.substring(0, id.indexOf('t'));
            var price = parseFloat($("#" + i + "price").text())
            var qty = parseInt($("#" + i + "qty").val())
            var total = parseFloat(price * qty)
            $("#" + i + "subtot").html(total.toFixed(2));
                        if ($("#" + i + "select").attr("checked")) {
                num = num + 1;
            sum = sum + total;
        }

});
$("#totprice").html(sum.toFixed(2));
$("#postcost").html((num * 5).toFixed(2));
$("#totprice2").html((sum + num * 5).toFixed(2));
}
    </script>

</head>
<body>
    <div id="wrapper">
        <div class="header_container">
            <!--Header Starts-->
            <header>
                <div class="top_bar clear">
                    <!--Language Switcher Starts-->
                    <div class="language_switch"> <a class="active" href="#" title="ENGLISH">EN</a> <a href="#" title="FRENCH">FR</a> </div>
                    <!--Language Switcher Ends-->
                    <!--Top Links Starts-->
                    <ul class="top_links">
                        <li><a href="#">我的账户</a></li>
                        <li><a href="#">愿望单</a></li>
                        <li><a href="#">登录</a></li>
                        <li class="highlight"><a href="#">注册</a></li>
                    </ul>
                    <!--Top Links Ends-->
                </div>
                <!--Logo Starts-->
                <h1 class="logo"> <a href="#"><img src="/Images/logo.png" /></a> </h1>
                <!--Logo Ends-->
                <!--Responsive NAV-->            <div class="responsive-nav" style="display:none;">
                    <select onchange="if(this.options[this.selectedIndex].value != ''){window.top.location.href=this.options[this.selectedIndex].value}">
                        <option selected="" value="" />Navigate...
                        <option value="leisure_index.html" /> Home
                        <option value="leisure_listing.html" /> -  Listing Page
                        <option value="leisure_detail.html" />Product Page
                        <option value="leisure_cart.html" /> -  Shopping Cart
                        <option value="leisure_checkout.html" /> -  Checkout
                        <option value="leisure_contact.php" />Contact
                    </select>
                </div>
                <!--Responsive NAV-->
                <!--Search Starts-->
                <form class="header_search" action="~/Book/Search">
                <div class="form-search" >
                    <input id="search" type="text" name="book_name" value="" class="input-text" autocomplete="off" placeholder="Search" />
                    <button type="submit" title="Search"></button>
                </div>
               </form>
                <!--Search Ends-->
            </header>
            <!--Header Ends-->
        </div>


        <div class="navigation_container">
            <!--Navigation Starts-->
            <nav>
                <ul class="primary_nav">
                    <li class="active">
                  
                        <a href="#">教育</a>
                        <!--SUbmenu Starts-->
                        <ul class="sub_menu">
                            <li>
                                <a href="@Url.Action("GetBooksOfTag", "Book", new {tag=Convert.ToString("教材")})">教材</a>
                                <ul>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new {tag=Convert.ToString("本科教材")})">研究生/本科/专科教材</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new {tag=Convert.ToString("高职高专教材")})">高职高专教材</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new {tag=Convert.ToString("中职教材")})">中职教材</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new {tag=Convert.ToString("成人教育教材")})">成人教育教材</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new {tag=Convert.ToString("工学类")})">工学类</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new {tag=Convert.ToString("法学类")})">文法类</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new {tag=Convert.ToString("医学类")})">医学类</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("GetBooksOfTag", "Book",new {tag=Convert.ToString("考试")})">考试</a>
                                <ul>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new {tag=Convert.ToString("学历考试")})">学历考试</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new {tag=Convert.ToString("公职")})">公职</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new {tag=Convert.ToString("建筑工程")})">建筑工程</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new {tag=Convert.ToString("计算机")})">计算机</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new {tag=Convert.ToString("考研")})">考研</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new {tag=Convert.ToString("四/六级")})">四/六级</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new {tag=Convert.ToString("MBA/MPA/MPAcc")})">MBA/MPA/MPAcc</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("教辅") })">教辅</a>
                                <ul>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("小学") })">小学</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("初中")})">初中</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("高中") })">高中</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("英语教辅")})">英语教辅</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("作文训练")})">作文训练</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("教师用书")})">教师用书</a></li>

                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">小说</a>
                        <!--SUbmenu Starts-->
                        <ul class="sub_menu">
                            <li>
                                <a >区域</a>
                                <ul>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("中国当代小说") })">中国当代小说</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("中国近现代小说") })">中国近现代小说</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("中国古典小说")})">中国古典小说</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("外国小说")})">外国小说</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("港澳台小说") })">港澳台小说</a></li>
                                </ul>
                            </li>
                            <li>
                                <a>类型</a>
                                <ul>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("职场") })">职场</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("社会")})">社会</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("悬疑")})">悬疑</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("都市") })">都市</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("情感") })">情感</a></li>
                                </ul>
                            </li>
                            <li>
                                <a>类型</a>
                                <ul>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("武侠") })">武侠</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("科幻") })">科幻</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("军事")})">军事</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("历史") })">历史</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("官场")})">官场</a></li>
                                </ul>
                            </li>
                        </ul>
                        <!--SUbmenu Ends-->
                    </li>
                    <li>
                        <a href="leisure_listing.html">童书</a>
                        <ul class="sub_menu">
                            <li>
                                <a >年龄</a>
                                <ul>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("0-2岁")})">0-2岁</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("3-6岁")})">3-6岁</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("7-10岁")})">7-10岁</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("11-14岁") })">11-14岁</a></li>
                                </ul>
                            </li>
                            <li>
                                <a>类型</a>
                                <ul>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("绘本")})">绘本</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("科普/百科")})">科普/百科</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("婴儿读物") })">婴儿读物</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("幼儿启蒙")})">幼儿启蒙</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("益智游戏") })">益智游戏</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("动漫卡通")})">动漫卡通</a></li>
                                </ul>
                            </li>

                        </ul>
                    </li>
                    <li>
                        <a href="#">人文社科</a>
                        <ul class="sub_menu">
                            <li>
                                <a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("历史") })">历史</a>
                                <ul>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("中国史") })">中国史</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("世界史") })">世界史</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("地方史志")})">地方史志</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("民族史") })">民族史</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("文化") })">文化</a>
                                <ul>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("传统文化") })">传统文化</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("各国文化")})">各国文化</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("文化评述") })">文化评述</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("文化随笔") })">文化随笔</a></li>

                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("哲学/宗教") })">哲学/宗教</a>
                                <ul>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("古代哲学") })">古代哲学</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("近现代哲学") })">近现代哲学</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("哲学知识读物")})">哲学知识读物</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("宗教知识读物") })">宗教知识读物</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("佛教") })">佛教</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("基督教") })">基督教</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("政治/军事") })">政治/军事</a>
                                <ul>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("中国政治") })">中国政治</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("党政读物") })">党政读物</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag =Convert.ToString("政治理论") })">政治理论</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("世界政治") })">世界政治</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("领袖著作")})">领袖著作</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("军事理论") })">军事理论</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("战争纪实") })">战争纪实</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("生活") })">生活</a>
                        <ul class="sub_menu">
                            <li>
                                <a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("亲子")})">亲子/家教</a>
                                <ul>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("家教理论") })">家教理论</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag =Convert.ToString("素质教育") })">素质教育</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("亲子关系")})">亲子关系</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("心理疏导") })">心理疏导</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("保健") })">保健/养生</a>
                                <ul>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("中医养生") })">中医养生</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("饮食健康") })">饮食健康</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("运动健身") })">运动健身</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag =Convert.ToString("心理健康")})">心理健康</a></li>

                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("美食") })">烹饪/美食</a>
                                <ul>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("家常菜谱") })">家常菜谱</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("烘培甜品") })">烘培甜品</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("西餐料理")})">西餐料理</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag =Convert.ToString("茶酒饮料") })">茶酒饮料</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("地方美食") })">地方美食</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("饮食文化") })">饮食文化</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("旅游") })">旅游/地图</a>
                                <ul>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("国内自助游") })">国内自助游</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("国外自助游") })">国外自助游</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("城市自助游") })">城市自助游</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("户外探险") })">户外探险</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("旅游随笔")})">旅游随笔</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("旅游攻略")})">旅游攻略</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">科技</a>
                        <ul class="sub_menu">
                            <li>
                                <a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("计算机")})">计算机/网络</a>
                                <ul>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("计算机理论")})">计算机理论</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("外部设备") })">外部设备</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("操纵系统")})">操作系统</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("系统开发") })">系统开发</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("数据库程序设计")})">数据库程序设计</a></li>

                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("医学")})">医学</a>
                                <ul>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("预防医学") })">预防医学</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("卫生学") })">卫生学</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("临床医学理论") })">临床医学理论</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("内科学") })">内科学</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("外科学") })">外科学</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("妇产科学")})">妇产科学</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("儿科学")})">儿科学</a></li>
                                </ul>
                            </li>
                            <li>
                                <a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("建筑") })">建筑</a>
                                <ul>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("建筑史与建筑文化") })">建筑史与建筑文化</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag =Convert.ToString("建筑科学")})">建筑科学</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("建筑外观设计") })">建筑外观设计</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("室内设计")})">室内设计</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag =Convert.ToString("装潢装修") })">装潢装修</a></li>
                                    <li><a href="@Url.Action("GetBooksOfTag", "Book",new { tag = Convert.ToString("建筑施工与监理")  })">建筑施工与监理</a></li>
                                </ul>
                            </li>
                        </ul>
                    </li>
                </ul>
                <div class="minicart">
                    <a href="#" class="minicart_link"> <span class="item"><b>0</b> 件 /</span> <span class="price"><b>$ 0.0</b></span> </a>
                    <div class="cart_drop">
                        <span class="darw"></span>
                        <ul>
                            <li><img src="/Images/mini_c_item1.png" /><a href="#">Clogs Beach/Garden Clog</a> <span class="price">$49.90</span></li>
                            <li><img src="/Images/mini_c_item2.png" /><a href="#">Faded chambray shorts</a> <span class="price">$12.90</span></li>
                            <div class="cart_bottom">
                                <div class="subtotal_menu"><small>Subtotal:</small><big>$69.20</big></div>
                                <a href="leisure_cart.html">Checkout</a>
                            </div>
                        </ul>
                    </div>
                </div>
            </nav>
            <!--Navigation Ends-->
        </div>


        <div class="section_container">
            @RenderBody()
        </div>

        <div class="footer_container">
            <!--Footer Starts-->
            <footer>
                <ul class="footer_links">
                    <li>
                        <span>购物指南</span>
                        <ul>
                            <li><a href="http://help.dangdang.com/details/page2">购物流程</a></li>
                            <li><a href="http://help.dangdang.com/details/page6">发票制度</a></li>
                            <li><a href="#">账户管理</a></li>
                            <li><a href="http://help.dangdang.com/details/page8">会员优惠</a></li>
                          
                        </ul>
                    </li>
                    <li class="seperator">
                        <span>支付方式</span>
                        <ul>
                            <li><a href="http://help.dangdang.com/details/page237">货到付款</a></li>
                            <li><a href="http://help.dangdang.com/details/page22">网上支付</a></li>
                            <li><a href="http://help.dangdang.com/details/page24">礼品卡支付</a></li>
                            <li><a href="http://help.dangdang.com/details/page23">银行转账</a></li>
                           
                        </ul>
                    </li>
                    <li>
                        <span>订单服务</span>
                        <ul>
                            <li><a href="http://help.dangdang.com/details/page400">订单状态说明</a></li>
                            <li><a href="#">自助取消订单</a></li>
                            <li><a href="#">配送服务查询</a></li>
                            <li><a href="#">自助修改订单</a></li>
                           
                        </ul>
                    </li>
                    <li>
                        <span>退换货</span>
                        <ul>
                            <li><a href="#">退换货服务查询</a></li>
                            <li><a href="#">自助申请退换货</a></li>
                            <li><a href="#">退换货进度查询</a></li>
                            <li><a href="#">退款方式和时间</a></li>
                       
                        </ul>
                    </li>
                </ul>
                <div class="footer_customblock">
                    <div class="shipping_info">
                        <span>公司地址</span><br />
                       <br>
                        <big>海洋楼1115</big>
                    </div>
                    <div class="contact_info"> <big>客服电话:<br><br>10086</big> </div>
                </div>
                <address>
                    Copyright (c) 2018 duangduang All Rights Reserved. <img src="/Images/payment_info.jpg" />
                </address>
            </footer>
            <!--Footer Ends-->
        </div>

        <!--CUSTOMIZE-->
        <!--CUSTOMIZE-->

    </div>


    <map name="Map">
        <area shape="rect" alt="1" coords="3,171,159,222" href="../Lingerie_shop/leisure_index.html" />
        <area shape="rect" alt="2" coords="1,115,157,166" href="../Watch_shop/leisure_index.html" />
        <area shape="rect" alt="3" coords="0,59,156,110" href="../Gadget_shop/leisure_index.html" />
        <area shape="rect" alt="4" coords="2,3,158,54" href="leisure_index.html" />
    </map>



    <div class="page_selector">
        <a href="#" class="page_open">导航</a>
        <ul>
            <li> <a href="/Home/Index">主页</a></li>
            <li> <a href="leisure_listing.html">书品列表</a></li>
            <li> <a href="leisure_cart.html">购物车</a></li>
            <li> <a href="leisure_checkout.html">登录/注册</a></li>
            <li> <a href="leisure_contact.php">联系我们</a></li>
        </ul>
    </div>
    <div style="display:none">
        <script src='http://v7.cnzz.com/stat.php?id=155540&web_id=155540' language='JavaScript' charset='gb2312'></script>
    </div>
    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)*@
</body>
</html>
