@{
    ViewBag.Title = "主页";
}
<!--Mid Section Starts-->
<section>
    <!--Banner Starts-->
    <div id="banner_section">
        <div class="flexslider">
            <ul class="slides">
                <li>
                    <img src="/Images/activity1.png" />
                </li>
                <li>
                    <img src="/Images/activity2.png" />
                </li>
                <li> 
                    <img src="/Images/activity3.png" /> 
                </li>
            </ul>
        </div>
        <div class="promo_banner">
            <div class="home_banner"><a href="#"><img src="/Images/p1.png" /></a></div>
            <div class="home_banner"><a href="#"><img src="/Images/p2.png" /></a></div>
            <div class="home_banner"><a href="#"><img src="/Images/p3.png" /></a></div>
        </div>
    </div>
    <!--Banner Ends-->
    <!--Product List Starts-->
    <div class="products_list products_slider">
        <h2 class="sub_title">新书上架</h2>

       

        <ul id="first-carousel" class="first-and-second-carousel jcarousel-skin-tango">
            @foreach (var item in ViewBag.NewBookList)
            {
        <li>
            <a href="#" class="product_image"><img width="220" height="242" src="@item.Picture1" /></a>
            <div class="product_info">
                <h3><a href="#">@item.BookName</a></h3>
               <div style="height:40px;"><small title="@item.BookAbstract" style="overflow:hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp:3;-webkit-box-orient: vertical;">@item.BookAbstract</small></div>
            </div>
            <div class="price_info">
                <a href="#">+ 添加至愿望单</a>
                <button class="price_add" title="" type="button"><span class="pr_price">$@item.BookPrice</span><span class="pr_add">添加到购物车</span></button>
            </div>
        </li>

            }
        </ul>
        
    </div>
    <!--Product List Ends-->
    <!--Product List Starts-->
    <div class="products_list products_slider">
        <h2 class="sub_title">限时折扣</h2>
        <ul id="first-carousel" class="first-and-second-carousel jcarousel-skin-tango">
            @foreach (var item in ViewBag.OfferBookList)
            {
                var price = Convert.ToDouble(item.BookPrice) * Convert.ToDouble(item.CouponDetail)/10;
        <li>
            <a href="#" class="product_image"><img width="220" height="242" src="@item.Picture1" /></a>
            <div class="product_info">
                <h3><a href="#">@item.BookName</a></h3>
                <div style="height:40px;"><small title="@item.BookAbstract" style="overflow:hidden; text-overflow: ellipsis; display: -webkit-box; -webkit-line-clamp:3;-webkit-box-orient: vertical;">@item.BookAbstract</small></div>
            </div>
            <div class="price_info">
                <a href="#">+ 添加至愿望单</a>
                <button class="price_add" title="" type="button"><span class="pr_price">$<span style="text-decoration:line-through;">@item.BookPrice</span><span style="color:#f65c5c;">&nbsp;@price.ToString("F2")</span></span><span class="pr_add">添加到购物车</span></button>
            </div>
        </li>

}
        </ul>
    </div>
    <!--Product List Ends-->
    <!--Newsletter_subscribe Starts-->
    <div class="subscribe_block">
        <div class="find_us">
            <h3>联系我们</h3>
            <a class="twitter" href="#"></a> <a class="facebook" href="#"></a> <a class="rss" href="#"></a>
        </div>
        <div class="subscribe_nl">
            <h3>Subscribe to our Newsletter</h3>
            <small>Instant wardrobe updates, new arrivals, fashion news, don’t miss a beat – sign up to our newsletter now.</small>
            <form id="newsletter" method="post" action="#" />
            <input type="text" class="input-text" value="Enter your email" title="Enter your email" id="newsletter" name="email" />
            <button class="button" title="" type="submit"></button>

        </div>
    </div>
    <!--Newsletter_subscribe Ends-->
</section>
<!--Mid Section Ends-->