@using duangduangwang.Models;
@{

    ViewBag.Title = "图书管理";
    if (ViewBag.BookList == null)
    { ViewBag.BookList = new List<Book>(); }
    Book bookDetail = (Book)ViewBag.BookDetail;
    Layout = "~/Views/Shared/ManagerPage.cshtml";
}
<script>
    function deletebook(id) {
        
        var i = id.substring(0, id.indexOf('B'));
        var con = confirm("确定要删除书籍吗qaq");
        if (con == true) {
            $.ajax({
                type: 'post',
                url: '/Home/ManageDeleteBook?Id=' + i,
                success: function () {
                alert("删除书籍成功!")
                window.location.reload(true); 
                },
                error: function () {
                }
            });
        }
    }
</script>
<style type="text/css">
    table, table tr th, table tr td {
        text-align: center;
        border: 1px solid #000000;
    }
</style>
<section>
    <div class="full_page" style="margin-top:20px; ">
        <!--CHECKOUT STEPS STARTS-->
        <div class="checkout_steps" style="width:990px;">
            <ol id="checkoutSteps">
                <li class="section allow active" id="opc-login">
                    <div class="step-title" style="width:950px">
                        <h2>输入查询条件</h2>
                    </div>
                    <div id="checkout-step-login">
                        <form method="post" id="login-form" action="/Home/SearchBooks" >
                        <div class="col2-set">
                            <div class="col-2" style="float:left;margin-left:130px; margin-right:40px;">
                                <fieldset>
                                    <ul class="form-list">
                                        <li>
                                            <label class="required" for="login-email">图书编号</label>
                                            <div class="input-box">
                                                <input type="text" value="" name="BookId" class="input-text" />
                                            </div>
                                        </li>
                                        <li>
                                            <label class="required" for="login-password">图书名称</label>
                                            <div class="input-box">
                                                <input type="text" name="BookName" class="input-text" />
                                            </div>
                                        </li>
                                        <li>
                                            <label class="required" for="login-password">出版社</label>
                                            <div class="input-box">
                                                <input type="text" name="BookPublisher" class="input-text" />
                                            </div>
                                        </li>
                                        <li>
                                            <label class="required" for="login-password">图书类型</label>
                                            <div class="input-box">
                                                <input type="text" name="BookType" class="input-text" />
                                            </div>
                                        </li>
                                    </ul>
                                    <br>
                                </fieldset>
                            </div>
                            <div class="col-2" style="float:left; margin-left:150px;">

                                <fieldset>
                                    <ul class="form-list">

                                        <li>
                                            <label class="required" for="login-password">作者姓名</label>
                                            <div class="input-box">
                                                <input type="text" name="BookWriter" class="input-text" />
                                            </div>
                                        </li>
                                        <li>
                                            <label class="required" for="login-password">出版时间</label>
                                            <div class="input-box">
                                                <input type="date" name="PublishTime" class="input-text" />
                                            </div>
                                        </li>
                                        <li>
                                            <label class="required" for="login-password">优惠类型</label>
                                            <div class="input-box">
                                                <input type="text" name="Coupon" class="input-text" />
                                            </div>
                                        </li>
                                        <li>
                                            <label class="required" for="login-password">图书标签</label>
                                            <div class="input-box">
                                                <input type="text" name="Tag" class="input-text" />
                                            </div>
                                        </li>
                                    </ul>
                                    <br>
                                </fieldset>

                            </div>
                        </div>
                        <div class="col2-set">
                            <div class="col-1" style="margin-left:190px;">
                                <div class="buttons-set">
                                    <input class="button brown_btn" type="submit" value="   查询   " />
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="buttons-set">
                                   <a href="/Home/ManageBook"> <button class="button brown_btn" type="button" >显示全部</button></a>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </li>
                <li class="section allow active" id="opc-login">

                    <div class="step-title" style="width:950px">
                        <h2>图书列表</h2>
                    </div>
                    <div id="checkout-step-login">
                        <table style="margin-left:10px;" border="1" cellspacing="0" cellpadding="0">

                            <tr>
                                <td width="100px">图书编号</td>
                                <td width="100px">图书名称</td>
                                <td width="100px">出版社</td>
                                <td width="100px">图书类型</td>
                                <td width="100px">图书标签</td>
                                <td width="100px">作者</td>
                                <td width="100px">出版时间</td>
                                <td width="100px">优惠类型</td>
                                <td width="100px"></td>
                            </tr>

                            @if (ViewBag.BookList.Count == 0)
                            {
                                <tr>
                                    <td colspan="9">
                                        查询结果为空

                                    </td>

                                </tr>
                            }
                            else
                            {
                                foreach (var book in ViewBag.BookList)
                                {
                                    var BookId = @book.BookId;
                                    var delbtn = BookId + "Button2";

                    <tr>
                        <td><a href="/Home/BookDetail?BookId=@book.BookId">@book.BookId</a></td>
                        <td>@book.BookName</td>
                        <td>@book.BookPublisher</td>
                        <td>@book.BookType</td>
                        <td>@book.Tag</td>
                        <td>@book.BookWriter</td>
                        <td>@book.PublishTime</td>
                        <td>@book.Coupon</td>
                        <td><div style="margin-left:5px;">
                        <a href="/Home/BookDetail?BookId=@book.BookId"> <input id="Button1" type="button" value="修改" /></a>&nbsp;&nbsp;
                        <a href="#"><input id="@delbtn" type="button" value="删除" onclick="deletebook(this.id)"/></a>
                         </div>
                        </td>
                    </tr>
                                }
                            }
                        </table>
                    </div>
                </li>


                <li class="section allow active" id="opc-login">
                    <div class="step-title" style="width:950px">
                        <h2>图书详情</h2>
                    </div>
                    <div id="checkout-step-login" style="height:570px;">
                        <form method="post" id="login-form" action="/Home/UpdateBook" >
                        <div class="col2-set" style="height:470px;">
                            <div class="col-2" style="float:left;margin-left:120px; margin-right:40px;">
                                <fieldset>
                                    <ul class="form-list">
                                        <li>
                                            <label class="required" for="login-email">图书编号</label>
                                            <div class="input-box">
                                                <input type="text" name="BookId" value="@(bookDetail==null?"":bookDetail.BookId.ToString())" name="BookId" class="input-text" readonly="readonly" />
                                            </div>
                                        </li>
                                        <li>
                                            <label class="required" for="login-password">图书名称</label>
                                            <div class="input-box">
                                                <input type="text" name="BookName" value="@(bookDetail==null?"":bookDetail.BookName)" class="input-text" />
                                            </div>
                                        </li>
                                        <li>
                                            <label class="required" for="login-password">图书简介</label>

                                            <div class="input-box">
                                                <textarea class="input-text" name="BookAbstract" value="@(bookDetail==null?"":bookDetail.BookAbstract)" rows="7" cols="34">@(bookDetail==null?"":bookDetail.BookAbstract)</textarea>
                                            </div>
                                        </li>
                                        <li>
                                            <label class="required" for="login-password">作者</label>
                                            <div class="input-box">
                                                <input type="text" name="BookWriter" value="@(bookDetail==null?"":bookDetail.BookWriter)" class="input-text" />
                                            </div>
                                        </li>

                                        <li>
                                            <label class="required" for="login-password">出版时间</label>
                                            <div class="input-box">
                                                <input type="date" name="PublishTime" value="@(bookDetail==null?"":bookDetail.PublishTime.Value.Year+"-"+bookDetail.PublishTime.Value.Month.ToString().PadLeft(2,'0')+"-"+bookDetail.PublishTime.Value.Day.ToString().PadLeft(2,'0'))" class="input-text" />
                                            </div>
                                        </li>
                                        <li>
                                            <label class="required" for="login-password">出版商</label>
                                            <div class="input-box">
                                                <input type="text" name="BookPublisher" value="@(bookDetail==null?"":bookDetail.BookPublisher)" class="input-text" />
                                            </div>
                                        </li>
                                        <li>
                                            <label class="required" for="login-email">价格</label>
                                            <div class="input-box">
                                                <input type="text" name="BookPrice" value="@(bookDetail==null?"":bookDetail.BookPrice.ToString())" class="input-text" />
                                            </div>
                                        </li>

                                    </ul>
                                    <br>
                                </fieldset>
                            </div>
                            <div class="col-2" style="float:left; margin-left:150px;">

                                <fieldset>
                                    <ul class="form-list">
                                        <li>
                                            <label class="required" for="login-email">图片1</label>
                                            <div class="input-box">
                                                <input type="text" name="originPicture1" value="@(bookDetail==null?"":bookDetail.Picture1)" class="input-text" /><br />
                                                <input type="file" name="Picture1" class="input-text" />
                                            </div>
                                        </li>

                                        <li>
                                            <label class="required" for="login-email">图片2</label>
                                            <div class="input-box">
                                                <input type="text" name="originPicture2" value="@(bookDetail==null?"":bookDetail.Picture2)" class="input-text" /><br />
                                                <input type="file" name="Picture2" class="input-text" />
                                            </div>
                                        </li>
                                        <li>
                                            <label class="required" for="login-email">图片3</label>
                                            <div class="input-box">
                                                <input type="text" name="originPicture3" value="@(bookDetail==null?"":bookDetail.Picture3)" class="input-text" /><br />
                                                <input type="file" name="Picture3" class="input-text" />
                                            </div>
                                        </li>
                                        <li>
                                            <label class="required" for="login-email">图书类型</label>
                                            <div class="input-box">
                                                <input type="text" name="BookType" value="@(bookDetail==null?"":bookDetail.BookType)" class="input-text" />
                                            </div>
                                        </li>
                                        <li>
                                            <label class="required" for="login-email">Tags</label>
                                            <div class="input-box">
                                                <input type="text" name="Tag" value="@(bookDetail==null?"":bookDetail.Tag)" class="input-text" />
                                            </div>
                                        </li>
                                        <li>
                                            <label class="required" for="login-email">优惠详情</label>
                                            <div class="input-box">
                                                <input type="text" name="CouponDetail" value="@(bookDetail==null?"":bookDetail.CouponDetail)" class="input-text" />
                                            </div>
                                        </li>
                                        <li>
                                            <label class="required" for="login-password">优惠状态</label>
                                            <div class="input-box">
                                               <input type="text" name="Coupon" value="@(bookDetail==null?"":bookDetail.Coupon.ToString())" class="input-text" />
                                            </div>
                                        </li>

                                    </ul>
                                    <br>
                                </fieldset>

                            </div>
                        </div>
                        <div class="col2-set">
                            <div class="col-1" style="margin-left:190px;">
                                <div class="buttons-set">
                                    <input value="   修改   " class="button brown_btn" type="submit" />
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="buttons-set">
                                    <button class="button brown_btn" type="button">&nbsp;&nbsp;&nbsp;还原&nbsp;&nbsp;&nbsp;</button>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </li>

            </ol>
        </div>
        <!--CHECKOUT STEPS ENDS-->

    </div>
    <!--Newsletter_subscribe Starts-->

    <div class="subscribe_block">
        <div class="find_us">
            <h3>联系我们</h3>
            <a class="twitter" href="#"></a> <a class="facebook" href="#"></a> <a class="rss" href="#"></a>
        </div>
        <div class="subscribe_nl">
            <h3>发送至我们的邮箱</h3>
            <small>如果您在使用中有任何问题或者建议，请邮箱联系我们</small>
            <form id="newsletter" method="post" action="#" >
            <input type="text" class="input-text" value="Enter your email" title="Enter your email" id="newsletter" name="email" />
            <button class="button" title="" type="submit"></button>
            </form>
        </div>
    </div>
    <!--Newsletter_subscribe Ends-->
</section>

