@using duangduangwang.Models;
@{

    ViewBag.Title = "用户管理";
    if (ViewBag.UserList == null)
    { ViewBag.UserList = new List<Customer>(); }
    Layout = "~/Views/Shared/ManagerPage.cshtml";
}
<style type="text/css">
    table, table tr th, table tr td {
        text-align: center;
        border: 1px solid #000000;
    }
</style>
<section>
    <div class="full_page" style="margin-top:20px; ">
        <!--CHECKOUT STEPS STARTS-->
        <div class="checkout_steps" style="width:990px;">
            <ol id="checkoutSteps">
                <li class="section allow active" id="opc-login">
                    <div class="step-title" style="width:950px">
                        <h2>输入查询条件</h2>
                    </div>
                    <div id="checkout-step-login">
                        <form method="post" id="login-form" action="" >
                        <div class="col2-set">
                            <div class="col-2" style="float:left;margin-left:130px; margin-right:40px;">
                                <fieldset>
                                    <ul class="form-list">
                                        <li>
                                            <label class="required" for="login-email">用户ID</label>
                                            <div class="input-box">
                                                <input type="text" value="" class="input-text" />
                                            </div>
                                        </li>
                                        
                                        <li>
                                            <label class="required" for="login-password">会员</label>
                                            <div class="input-box">
                                                <select id="Order_State">
                                                    <option>全部</option>
                                                    <option>是</option>
                                                    <option>否</option>
                                                </select>
                                            </div>
                                        </li>
                                    </ul>
                                    <br>
                                </fieldset>
                            </div>
                            <div class="col-2" style="float:left; margin-left:150px;">

                                <fieldset>
                                    <ul class="form-list">

                                        <li>
                                            <label class="required" for="login-password">用户名</label>
                                            <div class="input-box">
                                                <input type="text" class="input-text" />
                                            </div>
                                        </li>
                                        <li>
                                            <label class="required" for="login-password">手机号</label>
                                            <div class="input-box">
                                                <input type="text" class="input-text" />
                                            </div>
                                        </li>
                                       
                                    </ul>
                                    <br>
                                </fieldset>

                            </div>
                        </div>
                        <div class="col2-set">
                            <div class="col-1" style="margin-left:190px;">
                                <div class="buttons-set">
                                    <input class="button brown_btn" type="submit" value="   查询   " />
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="buttons-set">
                                    <a href="/Home/ManageUser"><button class="button brown_btn" type="button">显示全部</button></a>
                                </div>
                            </div>
                        </div>
                        </form>
                    </div>
                </li>
                <li class="section allow active" id="opc-login">

                    <div class="step-title" style="width:950px">
                        <h2>用户列表</h2>
                    </div>
                    <div id="checkout-step-login">
                        <table style="margin-left:150px;" border="1" cellspacing="0" cellpadding="0">

                            <tr>
                                <td width="100px">用户名</td>
                                <td width="100px">用户ID</td>
                                <td width="100px">会员状态</td>
                                <td width="100px">收货地址</td>
                                <td width="100px">手机号</td>
                                <td width="100px">收货人姓名</td>
                            </tr>
                            @if (ViewBag.UserList.Count == 0)
                            {
                                <tr>
                                    <td colspan="6">查询结果为空</td>
                                </tr>
                            }

                            else
                            {
                                foreach (var user in ViewBag.UserList)
                                {
                                <tr><td>@user.UserName</td>
                                    <td>@user.UserId</td>
                                    <td>@user.Member</td>
                                    <td>@user.Address</td>
                                    <td>@user.PhoneNumber</td>
                                    <td>@user.Receiver</td>
                                 
                                </tr>
                                }
                            }
                        </table>
                    </div>
                </li>



            </ol>
        </div>
        <!--CHECKOUT STEPS ENDS-->

    </div>
    <!--Newsletter_subscribe Starts-->

    <div class="subscribe_block">
        <div class="find_us">
            <h3>联系我们</h3>
            <a class="twitter" href="#"></a> <a class="facebook" href="#"></a> <a class="rss" href="#"></a>
        </div>
        <div class="subscribe_nl">
            <h3>发送至我们的邮箱</h3>
            <small>如果您在使用中有任何问题或者建议，请邮箱联系我们</small>
            <form id="newsletter" method="post" action="#" >
            <input type="text" class="input-text" value="Enter your email" title="Enter your email" id="newsletter" name="email" />
            <button class="button" title="" type="submit"></button>
            </form>
        </div>
    </div>
    <!--Newsletter_subscribe Ends-->
</section>

