@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "书籍详情";
}

<div class="section_container">
    <!--Mid Section Starts-->
    <section>
        <ul class="breadcrumb">
            <li><a href="~/Home">Home</a></li>
            <li><a href="#">book</a></li>
        </ul>
        <!--PRODUCT DETAIL STARTS-->
        <div id="product_detail">
            <!--Product Left Starts-->
            <div class="product_leftcol">
                @foreach (var book in ViewBag.book)
                {
                    <img src="@(book.Picture1)" /> <span class="pr_info">@book.BookName</span>
                    <ul class="pr_gallery">
                        <li><a ><img src="@(book.Picture1)" style="height:85px;width:85px" /></a></li>
                        <li><a ><img src="@(book.Picture2)" style="height:85px;width:85px" /></a></li>
                        <li><a ><img src="@(book.Picture3)" style="height:85px;width:85px" /></a></li>
                    </ul>
                }
            </div>
            <!--Product Left Ends-->
            <!--Product Right Starts-->
            <div class="product_rightcol">
                @foreach (var book in ViewBag.book)
                {
                    <small class="pr_type">@(book.BookType)</small>
                    <h1>@book.BookName</h1>
                    <p class="short_dc" /> @(book.BookAbstract)
                    <div class="pr_price"> <big>￥ @book.BookPrice</big> <small>￥ @(book.BookPrice * 1.8)</small> </div>

                    <div class="size_info">
                        <div class="size_sel">
                            <label> 配送至:</label>
                            <select>
                                <option />北京
                                <option />上海
                                <option />深圳
                            </select>
                        </div>
                        <div class="color_sel">
                            <label>
                                促销信息 :
                                @if (book.Coupon == 1)
                                {<span>@(book.CouponDetail)折开售</span> }
                            else
                            {
                                string[] info = Convert.ToString(book.CouponDetail).Split(',');
                                <span>满@(info[0]) 减 @info[1]</span>
                            }
                            </label>

                        </div>
                    </div>

                    <div class="qty_info">
                        <div class="quantity">
                            <label>数量 :</label>
                            <select name="qty" id="qty">
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="add_to_buttons">
                        <button class="add_cart" onclick="AddToCart()">加入购物车</button>
                        <script type="text/javascript">
                        /*(document).ready(function () {*/
                            //$("button").click(function () {
                            function AddToCart() {
                                //var quantity = $("select[name='qty']")[0];
                                var quantity = $('#qty option:selected').val();
                                $.ajax({
                                    data: { "qty": quantity, "Id":@book.BookId},
                                    url: '@Url.Action("Cart","Cart")',
                                    type: "POST",//OR "GET"
                                    success: function (returndata) {
                                        alert("加入购物车成功!")
                                        window.location.reload(true);   
                                    },
                                    fail: function (returndata) { alert("加入购物车失败!") }
                                });
                            }
                        </script>
                        <span>or</span>
                        <ul>
                            <li><a href="#">加入愿望单</a></li>
                        </ul>
                    </div>
                    <div class="product_overview">
                        <h4>为您推荐</h4>
                        <ul>
                            @foreach (var t in ViewBag.tags)
                            {
                                <li><a href="@Url.Action("GetBooksOfTag", "Book", new { tag = t })">@t</a></li>
                            }
                        </ul>
                    </div>
                }
            </div>
            <!--Product Right Ends-->
        </div>
        <!--PRODUCT DETAIL ENDS-->
        <!--Product List Starts-->
        @*<div class="products_list products_slider">
            <h2 class="sub_title">You might also like</h2>
            <ul id="first-carousel" class="first-and-second-carousel jcarousel-skin-tango">
                <li>
                    <a class="product_image"><img src="images/pr_l_1.jpg" /></a>
                    <div class="product_info">
                        <h3><a href="leisure_detail.html">CN Clogs Beach/Garden Clog</a></h3>
                        <small>Comfortable and fun to wear these clogs are the latest trend in fash</small>
                    </div>
                    <div class="price_info">
                        <a href="#">+ Add to wishlist</a>
                        <button class="price_add" title="" type="button"><span class="pr_price">$76.00</span><span class="pr_add">Add to Cart</span></button>
                    </div>
                </li>
                <li>
                    <a class="product_image"><img src="images/pr_l_2.jpg" /></a>
                    <div class="product_info">
                        <h3><a href="leisure_detail.html">CN Clogs Beach/Garden Clog</a></h3>
                        <small>Comfortable and fun to wear these clogs are the latest trend in fash</small>
                    </div>
                    <div class="price_info">
                        <a href="#">+ Add to wishlist</a>
                        <button class="price_add" title="" type="button"><span class="pr_price">$76.00</span><span class="pr_add">Add to Cart</span></button>
                    </div>
                </li>
                <li>
                    <a class="product_image"><img src="images/pr_l_3.jpg" /></a>
                    <div class="product_info">
                        <h3><a href="leisure_detail.html">CN Clogs Beach/Garden Clog</a></h3>
                        <small>Comfortable and fun to wear these clogs are the latest trend in fash</small>
                    </div>
                    <div class="price_info">
                        <a href="#">+ Add to wishlist</a>
                        <button class="price_add" title="" type="button"><span class="pr_price">$76.00</span><span class="pr_add">Add to Cart</span></button>
                    </div>
                </li>
                <li>
                    <a class="product_image"><img src="images/pr_l_5.jpg" /></a>
                    <div class="product_info">
                        <h3><a href="leisure_detail.html">CN Clogs Beach/Garden Clog</a></h3>
                        <small>Comfortable and fun to wear these clogs are the latest trend in fash</small>
                    </div>
                    <div class="price_info">
                        <a href="#">+ Add to wishlist</a>
                        <button class="price_add" title="" type="button"><span class="pr_price">$76.00</span><span class="pr_add">Add to Cart</span></button>
                    </div>
                </li>
                <li>
                    <a class="product_image"><img src="images/pr_l_1.jpg" /></a>
                    <div class="product_info">
                        <h3><a href="leisure_detail.html">CN Clogs Beach/Garden Clog</a></h3>
                        <small>Comfortable and fun to wear these clogs are the latest trend in fash</small>
                    </div>
                    <div class="price_info">
                        <a href="#">+ Add to wishlist</a>
                        <button class="price_add" title="" type="button"><span class="pr_price">$76.00</span><span class="pr_add">Add to Cart</span></button>
                    </div>
                </li>
                <li>
                    <a class="product_image"><img src="images/pr_l_2.jpg" /></a>
                    <div class="product_info">
                        <h3><a href="leisure_detail.html">CN Clogs Beach/Garden Clog</a></h3>
                        <small>Comfortable and fun to wear these clogs are the latest trend in fash</small>
                    </div>
                    <div class="price_info">
                        <a href="#">+ Add to wishlist</a>
                        <button class="price_add" title="" type="button"><span class="pr_price">$76.00</span><span class="pr_add">Add to Cart</span></button>
                    </div>
                </li>
            </ul>
        </div>*@
    </section>
  </div>
